body {
  overflow-x: hidden;
  --note-icon-1: url(/img/star.svg);
  --note-icon-2: url(/img/moon.svg);
  --note-icon-3: url(/img/sun.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
  --graph-main: var(--text-accent);
  --graph-muted: var(--text-muted);

  /* https://github.com/uroybd/topobon/blob/main/src/site/styles/custom-style.scss */
  nav.filetree-sidebar {
    top: 15px;
    left: 15px;
    position: fixed;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow-x: hidden;

    .search-button {
      margin: 10px;
      min-width: 160px;
      margin-bottom: 20px;
    }

    &>.folder {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: -10px;
    }

    .notelink {
      border-radius: 10px;
      padding: 5px 0 5px 8px;

      a::before {
        margin-right: 2px;
      }
    }

    .notelink.active-note {
      transform: unset;
    }

    .fa-sticky-note {
      display: none !important;
    }

    h1 {
      font-size: 32px !important;
    }
  }

  .sidebar {
    padding-top: 15px;
    max-width: 320px;
  }

  .sidebar::before {
    content: '';
    position: absolute;
    top: -55px;
    ;
    left: 0;
    width: 100%;
    height: 75px;
    /* 這個值應該是GIF的高度 */
    @if theme-light {
      // background-image: url(/img/banner.gif); 
    } @else {
      background-image: url(/img/banner.gif);
    }
    background-size: contain;
    /* 或使用 cover，具體看需求 */
    background-repeat: no-repeat;
    background-position: center;
  }

  .sidebar-container {
    padding-right: 0px;
    justify-content: center;
  }

  #link-graph {
    background-color: var(--background-secondary);
    margin-bottom: 0px;
    border-radius: 10px 0 10px 10px;
    width: fit-content;
  }

  .backlinks {
    flex: 1;
    margin-top: 10px;
    background-color: var(--background-primary);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;

    .backlink-title {
      margin: 4px 0;
      font-size: 18px !important;
      color: var(--h6-color);
    }
  }

  @media (max-width: 1400px) {
    #link-graph {
      border-radius: 0 10px 10px 10px;
    }

    .sidebar {
      display: none;
    }

    .sidebar::before {
      display: none;
    }

    .sidebar-container {
      display: none;
    }

    .graph {
      display: none;
    }

    .toc {
      display: none;
    }
  }

  #floating-control {
    position: fixed;
    color: var(--link-color);
    bottom: 1vmax;
    right: 1.8vmax;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .svg-icon,
    i {
      cursor: pointer;
      height: 24px;
      width: auto;
    }

    #theme-switch {
      .light {
        display: none;
      }

      .dark {
        display: none;
      }

      .auto {
        display: none;
      }
    }

    #theme-switch.light {
      .light {
        display: inline;
      }
    }

    #theme-switch.dark {
      .dark {
        display: inline;
      }
    }

    #theme-switch.auto {
      .auto {
        display: inline;
      }
    }
  }

  .callout[data-callout="complcy"] {
    --callout-color: 144, 240, 66;
    --callout-icon: lucide-messages-square;
  }


}