/* 
Syntax highlighting: Tokyo Night Dark
https://github.com/enkia/tokyo-night-vscode-theme/tree/master
*/

body {
	--code-background: #1a1b26;
	--code-white-space: pre-wrap;
	--code-size: 14px;
	--code-normal: #9aa5ce;
	--code-comment: #51597d;
	--code-function: #ffcc66;
	--code-important: #ff6e6e;
	--code-keyword: #bb9af7;
	--code-operator: #9aa5ce;
	--code-property: #78dce8;
	--code-punctuation: #9aa5ce;
	--code-string: #a9dc76;
	--code-tag: #f7768e;
	--code-value: #ff9e64;

	--border-radius: 10px;
}

.markdown-rendered pre {
	position: relative;
	padding: var(--size-4-2) var(--size-4-4);
	min-height: 38px;
	background-color: var(--code-background);
	border-radius: var(--radius-s);
	white-space: pre-wrap;
}

.markdown-rendered pre code {
	border: none;
	padding: 0;
}

.markdown-rendered pre:not(:hover)>button.copy-code-button {
	display: none;
}

.markdown-rendered button.copy-code-button {
	margin: 6px;
	padding: 6px 8px;
	height: auto;
	background-color: transparent;
	box-shadow: none;
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	font-family: var(--font-interface);
	position: absolute;
	top: 0;
	right: 0;
}

@media (hover: hover) {
	.markdown-rendered button.copy-code-button:hover {
		background-color: var(--background-secondary-alt);
	}
}

.markdown-source-view.mod-cm6 .cm-preview-code-block pre {
	margin: 0;
}

.markdown-source-view.mod-cm6 .code-block-flair {
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 1;
	display: inline-block;
	padding: var(--size-4-1) var(--size-4-2);
	border-radius: var(--radius-s);
	font-family: var(--font-interface);
	font-size: var(--font-ui-smaller);
	color: var(--text-muted);
	cursor: var(--cursor);
}

@media (hover: hover) {
	.markdown-source-view.mod-cm6 .code-block-flair:hover {
		background-color: var(--background-secondary-alt);
	}
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
	padding-left: var(--size-4-4);
	color: var(--code-normal);
}

.cm-s-obsidian .HyperMD-codeblock {
	font-family: var(--font-monospace);
	line-height: var(--line-height-tight);
	font-size: var(--code-size);
}

.cm-s-obsidian .HyperMD-codeblock-begin,
.cm-s-obsidian .HyperMD-codeblock-end {
	color: var(--code-normal);
}

.cm-s-obsidian .HyperMD-codeblock span.cm-inline-code {
	background-color: inherit;
	border: inherit;
	padding: inherit;
	font-size: inherit;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
	left: 0;
	right: 0;
	background-color: var(--code-background);
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.cm-s-obsidian div.HyperMD-codeblock-end-bg {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg,
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
	background-color: var(--code-background);
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--code-normal);
	background: none;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal;
	font-family: var(--font-monospace);
	text-align: left;
	word-spacing: normal;
	line-height: var(--line-height-normal);
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

@media print {

	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	background: var(--code-background);
}

/* Code blocks */
pre[class*="language-"] {
	overflow: hidden;
}

code[class*="language-"] {
	display: block;
	padding: 1em;
	overflow: auto;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/* Syntax highlighting */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.cm-comment,
.cm-meta {
	color: var(--code-comment);
}

.token.namespace {
	opacity: 0.7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.cm-tag {
	color: var(--code-tag);
}

.token.punctuation,
.cm-punctuation,
.cm-bracket,
.cm-hr {
	color: var(--code-punctuation);
}

.token.boolean,
.token.number,
.cm-number {
	color: var(--code-value);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.cm-qualifier,
.cm-string,
.cm-string-2 {
	color: var(--code-string);
}

.token.entity,
.token.parameter,
.token.property,
.token.property-access,
.token.operator,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.cm-operator,
.cm-link,
.cm-variable,
.cm-variable-2,
.cm-variable-3 {
	color: var(--code-property);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name,
.cm-property,
.cm-attribute,
.cm-type {
	color: var(--code-function);
}

.token.keyword,
.cm-keyword,
.cm-builtin {
	color: var(--code-keyword);
}

.token.regex,
.token.important {
	color: var(--code-important);
}

.markdown-rendered code {
	color: var(--code-normal);
	font-family: var(--font-monospace);
	background-color: var(--code-background);
	border-radius: var(--radius-s);
	font-size: var(--code-size);
	padding: 0.1em 0.25em;
}

.cm-s-obsidian span.cm-inline-code {
	color: var(--code-normal);
	font-size: var(--code-size);
	background-color: var(--code-background);
	vertical-align: baseline;
}

.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code {
	background-color: transparent;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
	background-color: var(--code-background);
	vertical-align: baseline;
}

.cm-s-obsidian span.cm-inline-code.hmd-hidden-token {
	font-size: 0;
}

.cm-s-obsidian.CodeMirror div.HyperMD-hover>.HyperMD-hover-content code {
	display: inline-block;
	font-size: var(--code-size);
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0px 4px;
}

.markdown-preview-view .markdown-embed .markdown-preview-view {
	--file-folding-offset: 0px;
	height: 100%;
	padding: 0;
}

.markdown-preview-view .markdown-embed .markdown-preview-view .markdown-preview-pusher h1,
.markdown-preview-view .markdown-embed .markdown-preview-view .markdown-preview-pusher h2,
.markdown-preview-view .markdown-embed .markdown-preview-view .markdown-preview-pusher h3,
.markdown-preview-view .markdown-embed .markdown-preview-view .markdown-preview-pusher h4,
.markdown-preview-view .markdown-embed .markdown-preview-view .markdown-preview-pusher h5,
.markdown-preview-view .markdown-embed .markdown-preview-view .markdown-preview-pusher h6 {
	margin-top: 0;
}


.markdown-preview-view .token.class-name,
.markdown-preview-view .token.function {
	color: #7dcfff;
}

.markdown-preview-view .token.console {
	color: #f7768e;
}