body {
  overflow-x: hidden;
  --note-icon-1: url(/img/star.svg);
  --note-icon-2: url(/img/moon.svg);
  --note-icon-3: url(/img/sun.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
  --graph-main: var(--text-accent);
  --graph-muted: var(--text-muted);

  /* https://github.com/uroybd/topobon/blob/main/src/site/styles/custom-style.scss */
  nav.filetree-sidebar {
    top: 15px;
    left: 15px;
    position: fixed;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow-x: hidden;

    .search-button {
      margin: 10px;
      min-width: 160px;
      margin-bottom: 20px;
    }

    &>.folder {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: -10px;
    }

    .notelink {
      border-radius: 10px;
      padding: 5px 0 5px 8px;

      a::before {
        margin-right: 2px;
      }
    }

    .notelink.active-note {
      transform: unset;
    }

    .fa-sticky-note {
      display: none !important;
    }

    h1 {
      font-size: 32px !important;
    }
  }

  .sidebar-container {
    padding-right: 0px;
    justify-content: center;
  }

  #link-graph {
    background-color: var(--background-secondary);
    margin-bottom: 0px;
    border-radius: 10px 0 10px 10px;
    width: fit-content;
  }

  .backlinks {
    flex: 1;
    margin-top: 10px;
    background-color: var(--background-primary);
    border-radius: 10px;
    padding: 10px;

    .backlink-title {
      margin: 4px 0;
      font-size: 18px !important;
      color: var(--h6-color);
    }
  }

  @media (max-width: 1400px) {
    #link-graph {
      border-radius: 0 10px 10px 10px;
    }

    .sidebar {
      display: none;
    }

    .sidebar-container {
      display: none;
    }

    .graph {
      display: none;
    }

    .toc {
      display: none;
    }
  }

}