body {
  overflow-x: hidden;
  --note-icon-1: url(/img/star.svg);
  --note-icon-2: url(/img/moon.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
  --graph-main: var(--text-accent);
  --graph-muted: var(--text-muted);

  /* https://github.com/uroybd/topobon/blob/main/src/site/styles/custom-style.scss */
  nav.filetree-sidebar {
    top: 35px;
    left: 20px;
    position: fixed;
    height: calc(100% - 85px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow-x: hidden;

    .search-button {
      margin: 10px;
      min-width: 160px;
      margin-bottom: 20px;
    }

    &>.folder {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: -10px;
    }

    .notelink {
      border-radius: 10px;
      padding: 5px 0 5px 8px;

      a::before {
        margin-right: 2px;
      }
    }

    .notelink.active-note {
      transform: unset;
    }

    .fa-sticky-note {
      display: none !important;
    }

    h1 {
      font-size: 32px !important;
    }

    /*
    h1::before {
      content: " ";
      display: block;
      width: 100%;
      height: 3em;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(/img/logo.svg);
      background-position: center;
    }
    */
  }

  .sidebar {
    position: fixed;
    top: 35px;
    right: 17px;
    height: 100%;
    min-width: 25px;
    display: flex;
    z-index: 3;
    max-width: 350px;

    .graph {
      width: 320px;
      min-height: 320px;

      #link-graph {
        width: 320px;
        height: 320px;
      }

      #graph-fs-btn {
        margin-right: 10px;
      }
    }

    .graph-fs {
      position: fixed;
      top: 50%;
      left: 50%;
      height: calc(100vmin - 100px);
      width: calc(100vmin - 100px);
      min-height: 350px;
      min-width: 350px;
      transform: translate(-50%, -50%);
      z-index: 9999;
      display: block;
      background-color: var(--background-secondary);
      border: 1px solid var(--text-accent);
      border-radius: 5px;
      padding-top: 5px;

      #link-graph {
        width: 100%;
        height: 100%;
      }

      #graph-controls {
        margin-top: 10px;
      }

      .graph-title {
        display: none;
      }
    }
  }

}