{# https://github.com/oleeskild/obsidian-digital-garden/discussions/592 #}

<script>
const readspeed = 170;
let element = document.createElement("div");
element.innerHTML = '<i icon-name="book-open"></i>';
document.getElementsByClassName("timestamps")[0].append(element);

function addReadtimer() {
  const minutes = Math.ceil(document.getElementsByClassName("content")[0].textContent.split(/\s+/).length / readspeed);
  let elem = document.createElement("span");
  elem.innerHTML = minutes + ' min read';
  element.append(elem);
}

document.addEventListener("DOMContentLoaded", addReadtimer);
</script>